<ion-content padding>
    <ion-list>
        
        <ion-item class="backgroundWhite">
            <ion-icon name="contact" item-start></ion-icon>
            <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="backgroundWhite">
            <ion-icon name="lock" item-start></ion-icon>
            <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item>
            <button ion-button full>Entrar</button>
        </ion-item>

        <ion-item class="forgotpassword"> Olvidaste tu contraseña</ion-item>

    </ion-list>
</ion-content>
<ion-footer>

    <ion-grid>
        <ion-row no-padding no-margin>
            <ion-col offset-4 col-4 no-padding>
                <button ion-button full (click)="locationPage()" id="butonlocation">
                    <div>
                    <ion-icon name="pin"></ion-icon>
                    <br>
                    <label fixed>Ubicaci&oacute;n</label>
                </div>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>