page-login {
// #287BD1;
    .content ,.list,.item-block,{
        background: #287BD1;
    }
    .backgroundWhite{
        background: white;
    }
    .list{
        margin-top: 20%;
    }

    .label-ios {
        color: white;
        text-align: center;
    }
    
    .item-block,
    .forgotpassword {
        border-top: 0px solid #c8c7cc;
      }

    .footer, #butonlocation,{
        background:#1c5692;
    }

}
