<ion-header>

  <ion-navbar color="primary">
    <ion-title primary>Ubicación cerca de ti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="map"></div>
  <ion-fab *ngIf="swGo" button right edge>
    <button ion-fab mini (click)="goRute()">Ir</button>
  </ion-fab>

</ion-content>